/********/
/* DICE */
/********/

a:link, a:visited, a:hover {text-decoration:none; font-weight:bold; color:#B80000}

div.col1	{width:50%; margin:0; padding:1%; border:0}
div.col2	{width:50%; margin:0; padding:1%; border-left:1px solid #DDD}
div.col h2	{margin:20px 0 10px 0}
div.col h3	{margin:20px 0 10px 0}
div.col p	{margin-bottom:6px}

i.fa-calculator	{font-size:52px; cursor:pointer; position:relative; top:15px; left:36px}

button 		{padding:14px 4px 14px 4px; border:2px solid #B80000; font-weight:bold; width:18%; margin:1%; outline:none}
button.xp	{background-color:#cc66ff; border-color:#cc66ff; font-size:28px; padding:6px 0 6px 0}
button.on	{background-color:#FFF; color:#cc66ff}
button.off	{background-color:#cc66ff; color:#FFF}

div#result	{font-size:44px; font-weight:bold; margin-top:20px; height:60px; border-bottom:1px #CCC solid; text-align:center; !important}
.b34		{font-size:32px}
div#hist	{font-size:18px; padding:0 0 6px 16px; max-height:370px; overflow:hidden; !important}
span 		{font-size:inherit; padding:0}

div#result1, div#result2 {font-size:12px; margin:38px 0 20px 0}

.dice	{font-size:10px; font-weight:normal}
.max	{color:#B80000}
.min	{color:#888}
.regular {color:#B80000}
.fa-arrow-right {font-size:16px}

@media only screen and (max-width:799px) {
	div.col1	{width:100%; padding:2%; border:0}
	div.col2	{width:100%; padding:2%; border:0}

	button {padding:14px 1px 14px 1px}
	div#result	{font-size:34px; height:45px}
	.b34		{font-size:23px}
	div#hist	{font-size:14px; max-height:300px}

	.ads {height:250px}
}